body {
    background: linear-gradient(to right,
            Darkblue,
            rgba(216, 175, 240, 0.822),
            black);
    font-size: 0.9rem;

}

html {
    scroll-behavior: smooth;
}

.card-container {
    position: relative;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    color: rgb(255, 244, 252);
    background-image: url(background-img.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-clip: border-box;
    padding: 1em;
    box-sizing: border-box;
    border-radius: 15px;
    box-shadow: 0 0 10px 5px rgba(0, 0, 0, 0.5);
    text-align: center;
    text-shadow: -0.25em 0.15em 0.5em black;
    width: 80%;
    max-width: 450px;
    margin: 3em auto;
    transition: all 0.35s ease-in-out;
}

.card-container.hov-active:hover,
.card-container.hov-active:focus {
    box-shadow: 0 10px 30px 10px rgba(189, 10, 10, 0.493);
    transform: scale(1.05);
}

.header-congrate {
    background: linear-gradient(to right,
            rgba(190, 48, 246, 0.663),
            rgba(180, 33, 121, 0.6),
            rgba(255, 0, 0, 0.526));
    padding: 0.6em;
    border-radius: 10px 10px 0 0;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-style: italic;
    font-weight: bold;
    margin: auto;
}

h1 {
    margin: 0.4em;
    text-align: center;
    font-size: 1.5em;
}

hr {
    width: 50%;
    border: 1px solid white;
    margin: 15px auto 10px auto;
    box-shadow: -1px 1px 3px whitesmoke;
}

.greeting-card {
    background: linear-gradient(to right,
            rgba(190, 48, 246, 0.663),
            rgba(180, 33, 121, 0.6),
            rgba(255, 0, 0, 0.526));
    padding: 0.9em;
    border-radius: 0 0 10px 10px;
    margin: 5px auto 15px auto;
    font-style: italic;
    font-weight: bold;
}

.greeting-card p {
    text-align: justify;
    text-align-last: center;
}

.buttons-section {
    margin-top: 1em;
    display: flex;
    justify-content: space-between;
    align-content: space-between;
    flex-wrap: wrap;
    flex-direction: row;
    gap: 0.8em;
}

.card-btn {
    background: linear-gradient(to right,
            rgba(190, 48, 246, 0.663),
            rgba(180, 33, 121, 0.6),
            rgba(255, 0, 0, 0.526));
    border: none;
    border-radius: 8px;
    color: white;
    font-size: 1em;
    font-weight: bold;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    margin: 3px 3px;
    cursor: pointer;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.3);
    transition: all 0.25s ease-in-out;
}

.card-btn:hover,
.card-btn:focus {
    transform: translate(-0.25em, -0.25em);
    box-shadow: -8px 12px 50px 5px rgba(189, 10, 10, 0.493);
    text-decoration: underline;

}

.card-btn:active {
    transform: scale(1.05);
}

.modal-backdrop {
    position: fixed;
    inset: 0;

    background: rgba(0, 0, 0, 0.45);
    backdrop-filter: blur(5px);

    display: none;
    z-index: 1000;
}

.modal-backdrop.show {
    display: block;
}

.modal-box {

    position: absolute;

    top: 25%;
    left: 50%;
    transform: translateX(-50%);

    width: 90%;
    max-width: 420px;

    background: white;
    border-radius: 14px;
    padding: 2.5em 1.5em 1.5em;

    box-shadow: 0 20px 40px rgba(0, 0, 0, 0.45);

    display: none;
    z-index: 1001;

    transition: all 0.25s ease-in-out;
}

.modal-box.show {
    display: block;
}


.modal-title {
    text-align: center;
    width: 100%;
    font-size: 1.2em;
    margin-bottom: 1.2em;
    color: black;
}


.close-modal-btn {
    position: absolute;
    top: 10px;
    left: 10px;

    border: none;
    background: #fff;

    color: darkred;
    font-size: 1.2rem;
    font-weight: bold;

    cursor: pointer;
    border-radius: 6px;

    transition: all 0.3s ease-in-out;
}


.close-modal-btn:hover,
.close-modal-btn:focus {
    background-color: aliceblue;
    transform: translateY(-0.15rem);
    box-shadow: -8px 12px 50px 2px rgba(189, 10, 10, 0.493);
}

.close-modal-btn:active {
    transform: scale(1.2);
    background-color: gainsboro;
}

.modal-content {
    display: none;

    gap: 1em;
    justify-content: center;
    flex-wrap: wrap;
}

.modal-content.active {
    display: flex;
}

.modal-link,
.modal-action {
    text-decoration: none;
    color: black;
    font-weight: bold;
    background: rgba(255, 255, 255, 0.278);
    padding: 0.8em;
    border-radius: 10px;
    display: inline-block;
    border: none;
    cursor: pointer;
    width: 100px;
    height: auto;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.3);
    transition: 0.3s ease-in-out;
}


.modal-link:hover,
.modal-action:hover,
.modal-link:focus,
.modal-action:focus {
    background-color: rgba(240, 248, 255, 0.216);
    box-shadow: -2px 2px 50px 10px rgba(189, 10, 10, 0.493);
    transform: scale(1.05);
}


.modal-action:active,
.modal-link:active {
    transform: scale(1.1);
}

.modal-link img,
.modal-action img {
    display: block;
    margin: 0px auto 0.75em;
    width: 32px;
    height: 32px;
    border-radius: 50%;
}


.btn-click-message {
    display: none;
    margin: 1em auto;
    width: 80%;
    max-width: 500px;
    padding: 1em;
    border-radius: 10px;
    background: rgba(255, 255, 255, 0.6);
    font-style: italic;
    text-align: center;
    font-weight: bold;
    font-size: medium;
}

.btn-click-message.show {
    display: block;
}

.btn-click-message>div {
    display: none;
}

.btn-click-message>div.active {
    display: block;
}


.card-container.capture-mode {
    transform: none !important;
    box-shadow: none !important;
    width: 1080px;
    height: auto;
}

.card-container.capture-mode>.buttons-section {
    display: none;
}


@media (max-width: 600px) {


    body {
        background: linear-gradient(to right,
                Darkblue,
                rgba(216, 175, 240, 0.822),
                black);
    }

    .card-container {
        position: relative;
        font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
        color: rgb(255, 244, 252);
        background-image: url(background-img.png);
        background-repeat: no-repeat;
        background-size: cover;
        padding: 1em;
        border-radius: 15px;
        box-shadow: 0 0 5px 2.5px rgba(0, 0, 0, 0.5);
        text-align: center;
        text-shadow: -0.1em 0.1em 0.1em black;
        max-width: 400px;
        margin: 0 auto;
    }

    .card-container.hov-active:hover,
    .card-container.hov-active:focus {
        box-shadow: -3px 5px 10px 1px rgba(189, 10, 10, 0.493);
        transform: scale(1.01);
        transition: transform 0.3s ease-in-out;
    }

    h1 {
        font-size: 0.8em
    }

    p {
        font-size: 0.8rem;
    }

    .greeting-card,
    .header-congrate {
        padding: 0.7em;
        font-size: 0.95em;
        width: 90%;
    }

    .buttons-section {
        gap: 0.03em;
        justify-content: space-around;
        align-content: space-around;
    }

    .card-btn {
        max-width: 80px;
        font-size: 0.5em;
    }

    .modal-box {
        top: 10px;
        width: auto;
        padding: 2em 1em 1em;
    }

    .modal-title {
        font-size: 0.5em;
        padding: 0;
        margin: 0;
        text-shadow: 0 0.5px 3px black;
    }

    .modal-link img,
    .modal-action img {
        max-width: 20px;
        max-height: 20px;
    }


    .modal-link,
    .modal-action {
        width: 25px;
        padding: 0.8em;
        font-size: 0.4em;
        border-radius: 3px;
        margin: 1em auto;
        text-shadow: none;
    }

    .btn-click-message {
        width: 90%;
        font-size: 0.9em;
    }

    .card-container.capture-mode {
        width: 1080px;
        max-width: none;
        position: absolute;
        top: 0;
        transform: none !important;
        box-shadow: none !important;
    }



    .modal-backdrop {
        width: 100vw;
        height: 100vh;
        overflow: hidden;
    }

}
